@using Microsoft.AspNetCore.Identity
@using Authy.Models

@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle text-dark" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="true">
                @if (User.IsInRole("Administrator"))
                {
                    <span>Administrator</span>
                }
                else if (User.IsInRole("Client"))
                {
                    <span>Client</span>
                }
                else if (User.IsInRole("Seller"))
                {
                    <span>Seller</span>
                }
            </a>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" id="manage" title="manage" asp-area="Identity" asp-page="/Account/Manage/Index">Profile</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li>
                    <form id="logoutForm" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })">
                        <button id="logout" type="submit" class="dropdown-item btn btn-link text-dark border-0">Logout</button>
                    </form>
                </li>
            </ul>
        </li>
    }
    else
    {
        <li class="nav-item">
            <a class="nav-link text-dark" id="register" asp-area="Identity" asp-page="/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" id="login" asp-area="Identity" asp-page="/Account/Login">Login</a>
        </li>
    }
</ul>
